  <div class='container-fluid'>
    <div class="text-center">
      <p id="notice"><%= notice %></p>
    </div>
    <div class="row">
      <h1>Contracts</h1>
    </div>
    <div class="row">
      <div class="col-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Hợp đồng</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
            <% if contract.may_deal? %>
            <tr>
              <td><%= contract.name %></td>
              <td><%= contract.state %></td>
              <td><%= link_to 'Thỏa thuận', thoa_thuan_contract_path(contract) %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Hợp đồng</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
            <% if contract.may_pay? %>
            <tr>
              <td><%= contract.name %></td>
              <td><%= contract.state %></td>
              <td><%= link_to 'Lấy tiền', tra_tien_contract_path(contract) %></td>
              <td><%= link_to 'Hủy kèo', huy_keo_contract_path(contract) %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Hợp đồng</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
            <% if contract.may_end? %>
            <tr>
              <td><%= contract.name %></td>
              <td><%= contract.state %></td>
              <td><%= link_to 'Kết thúc', ket_thuc_contract_path(contract) %></td>
              <td><%= link_to 'Trả lại tiền', tra_lai_tien_contract_path(contract) %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Hợp đồng</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
            <% if contract.ended? %>
            <tr>
              <td><%= contract.name %></td>
              <td><%= contract.state %></td>
              <td><%= link_to 'Renew hợp đồng', tao_moi_contract_path(contract) %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>